<!doctype html>
<html class="no-js" lang="{{ .Site.LanguageCode }}">

<head>
  <meta charset="utf-8">
  <title>{{ .Site.Title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  {{ template "_internal/opengraph.html" . }}

  {{- partial "favicon.html" . -}}

  {{ with .OutputFormats.Get "rss" -}}
  {{ printf `
  <link rel=%q type=%q href=%q title=%q>` .Rel .MediaType.Type .Permalink site.Title | safeHTML }}
  {{ end }}

  {{- partial "style.html" . -}}
</head>

<body>
  <header>
    {{- partial "header.html" . -}}
  </header>
  <main>
    {{- block "main" . }}{{- end }}
  </main>
  <hr />
  <footer>
    {{- partial "footer.html" . -}}
  </footer>
</body>

</html>
